{% extends 'index.html' %}
{% from "_macros.html" import render_field %}
{% block content %}
<head>
	<script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src='http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/language/es_ES.min.js'></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css" media="screen">
    	input[type="checkbox"]
    	{
    		position: relative;
    		width: 55px;
    		height: 30px;
    		-webkit-appearance: none;
    		background: linear-gradient(0deg, #333, #000);
    		outline: none;
    		border-radius: 20px;
    		box-shadow: 0 0 0 3px #353535, 0 0 0 2px #3e3e3e, inset 0 0 5px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
    	}
    	input:checked[type="checkbox"]
    	{
    		background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    		box-shadow: 0 0 2px #6dd1ff, 0 0 0 3px #353535, 0 0 0 2px #3e3e3e, inset 0 0 5px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
    	}
    	input[type="checkbox"]:before
    	{
			content: "";
			position: absolute;
			top: 0;		
			left: 0;
			width: 30px;
			height: 30px;
			background: linear-gradient(0deg, #000, #6b6b6b);
			border-radius: 20px;
			box-shadow: 0 0 0 1px #232323;
			transform: scale(.98, .96);
			transition: .5s;
    	}
    	input:checked[type="checkbox"]:before
    	{
    		left:24px;
    	}
    	input[type="checkbox"]:after
    	{
			content: "";
			position: absolute;
			top: calc(50% - 1px);		
			left: 20px;
			width: 4px;
			height: 4px;
			background: linear-gradient(0deg, #6b6b6b, #000);
			border-radius: 50%;
			transition: .5s
    	}
    	input:checked[type="checkbox"]:after
    	{
    		background: #63cdff;
    		left:46px;
    		box-shadow: 0 0 5px #13b3ff,  0 0 15px #13b3ff;
    	}
    </style>
</head>
	<form method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    <div class="container">
	    	<div class="row">
		  		<div class="card">
		    		<div class="card-header bg-info text-white">Buscar articulo por Código</div>
		    		<div class="card-body">
		    			<div class="p-3 mb-2 bg-success text-white">
							{{ render_field(form.product_id, class='form-control', placeholder="Ingrese la clave del producto")}}
		    			</div>
						<div class="p-3 mb-2 bg-info text-white">Buscar articulo por Nombre</div>
						<div class="p-3 mb-2 bg-success text-white">
							{{render_field(form.product_name, class='form-control', placeholder="Ingrese el nombre del producto")}}
						</div>
		    		</div> 
		    		<div class="card-footer bg-info text-white">
		    			<button type="submit" class="btn btn-danger" name="addsalida" value="buscar"> Buscar </button>
		    			<button type="submit" class="btn btn-danger btn-showlistaglobal" name="addsalida" value="mostrar"> Mostrar lista</button>

		    		</div>
		  		</div>
		  	</div>
		</div>
	
	{% if listatemp %}
	<form   method="POST"  >  
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
            <div class="container">                                
              <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ver listado de productos</button> -->
              <!-- Modal -->
                <div class="modal fade" id="mylistapxn" role="dialog">
                    <div class="modal-dialog modal-lg" id="mdialTamanio1">
                        <!-- Contenido Modal-->
                        <div class="modal-content">
                               <div class="modal-header">
                                  <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                                  <h4 class="modal-title"> Producto buscado:{{productpxn}} </h4>
								  <input class="form-control" id="myInput" type="text" placeholder="Search..">
								 
								  <br>
								  <button type="submit" class="btn btn-success" id = "addsalida" name="addsalida"  value="selec">Agregar Selección a la lista</button>                                    
                                      <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                               </div>
                            <div class="modal-body">

								  <table id="table" class="table table-hover table-responsive table-bordered">
								    <thead>
								      <tr class="success" style="font:11px Arial">
								        <th>Código Art.</th>
								        <th>id_Item</th>
								        <th>Descripcion</th>
								        <th>Tipo de Producto</th>
								        <th>Familia</th>
								        <th>existencia</th>
								        <th>Precio Unit</th>
								        <th>Seleccionar</th>
								      </tr>
								    </thead>
								    <tbody id="myTable">
								    	{% for item in listatemp %}
									       <tr class="info" style="font:11px Arial"> 
									        <td>{{item[0]}}</td>
									        <td>{{item[4]}}</td>
									        <td>{{item[1]}}</td>
									        <td>{{item[2]}}</td>
									        <td>{{item[3]}}</td>
									        <td>{{item[5]}}</td>
									        <td>{{item[6]}}</td>
									        <td><center><input type="radio" class="form-check-input" name="optradio" value="{{item[4]}}"></center></td>
									      </tr>
									     {%endfor%}
								    </tbody>
								  </table>	
                            </div>

                                   <div class="modal-footer">
                                      <button type="submit" class="btn btn-success" id = "addsalida" name="addsalida"  value="selec">Agregar Selección a la lista</button>                                    
                                      <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                                    </div>
                       </div>
                    </div>
                </div>
            </div>
            <script>
            	
				$(document).ready(function(){
				  $("#myInput").on("keyup", function() {
				    var value = $(this).val().toLowerCase();
				    $("#myTable tr").filter(function() {
				      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				    });
				  });
				});
			</script>

             <script type="text/javascript">
              $(function(){
                $("#mylistapxn").modal();
              });
           </script>
    </form>
<br>
<br>
		<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
		</script>

<!--###TABLA DONDE SE ENLSTAN LOS PRODUCTOS PARA REALIZAR LA ENTRADA########################################-->
	{% elif listatemp2 %}
		
		<div class="container mt-3">
		 <p>Para filtrar los datos ponga una frase y se enlistaran las coincidencias</p>  
		  <input class="form-control" id="myInput" type="text" placeholder="Search..">
		  <br>
		  <table class="table table-bordered" id="myTable">
		    <thead>
		      <tr>
		        <th>Código Art.</th>
		        <th>id_Item</th>
		        <th>Descripcion</th>
		        <th>Costo Unit</th>
		        <th>Cantidad</th>
		        <th>Eliminar</th>
		      </tr>
		    </thead>
		    <tfoot>
             <tr>
               <td colspan=3>Total</td>
               <td>{{total_lista}}</td>
             </tr>

            </tfoot>
		    <tbody >
		     
		    	{% for item in listatemp2 %}					
			      <tr>
			        <td>{{item[0]}}</td>
			        <td>{{item[4]}}</td>
			        <td>{{item[1]}}</td>
			        <td><input type="text" class="num-control"  value="{{item[7]}}" name="costo"></td>
			        <td><input type="text" class="num-control" value="{{item[8]}}" name="cantidad"></td>
			        <td><center><input type="checkbox"  name="optcheck" value="{{item[4]}}"></center></td>
			      </tr>
			     {% endfor %}
		    </tbody>
		  </table>
	      </div>    
		  <p>NOTA: Primero busque todos los productos deseados y de último ponga las cantidades</p>
		  <div class="p-3 mb-2 bg-info text-white">
			<button type="submit" class="btn btn-danger" name="addsalida" value="eliminar"> Eliminar </button>
			<button type="submit" class="btn btn-success" name="addsalida" value="entrada"> Generar entrada </button>
			<button type="submit" class="btn btn-danger" name="addsalida" value="costeo" > 
			Calcular el total </button>
		</div>
		</div>
		<script>
		
        </script>
		</form>
<br>
<br>
		<script>
         $(function(){
             $('input:checkbox').change(function(){
               if ($('input:checkbox:checked').length = 0)  {
              }
              if ($('input:checkbox:checked').length >= 1)  {                               
                  }
                   if ($('input:checkbox:checked').length > 1){
                        alert('Sólo se puede seleccionar un artículo');
                      $('input:checkbox').prop({checked: false}); 
                     }
               });
           });
			
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
		</script>
	{% endif %}
{% endblock %}