{% extends 'index.html' %}
{% from "_macros.html" import render_field %} 

{% block content %}  
        {% if listapxn %} 
           <form   method="POST"  >  
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
            <div class="container">                                
              <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ver listado de productos</button> -->
              <!-- Modal -->
                <div class="modal fade" id="mylistapxn" role="dialog">
                    <div class="modal-dialog modal-lg" id="mdialTamanio1">
                        <!-- Contenido Modal-->
                        <div class="modal-content">
                               <div class="modal-header">
                                  <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                                  <h4 class="modal-title"> Producto buscado: {{productpxn}} </h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                               </div>
                            <div class="modal-body">
                                <table class="table table-hover table-responsive table-bordered" >
                                    <thead>
                                        <tr class="success" style="font:11px Arial">            
                                            <td><strong>Código</strong></td>
                                            <td><strong>Producto</strong></td>
                                            <td><strong>Existencias</strong></td>
                                            <td><strong>Unidad de medida</strong></td>
                                            <td><strong>Disponibles</strong></td>
                                            <td><strong>Precio.Unit.</strong></td>
                                            <td><strong>Item ID.</strong></td>
                                            <td><strong>Sel.</strong></td>
                                        </tr>                    
                                    </thead> 
                                           <tbody>
                                           {% for fila in listapxn %}
                                           <tr class="info" style="font:11px Arial">             
                                                {% for col in fila %} 
                                                  <td>  {{ col }} </td>
                                                {%endfor%}
                                                <td><input type="checkbox"  id = "borrapxn" name="chkpxn" value="{{ fila[6] }}"></td>    
                                                           <!--td><button type="button" class="btn btn-danger" id = "borrar" name="borrar" value="{{ fila[0] }}+'-'+'1'">Borrar </button></td--> 
                                            </tr>       
                                            {% endfor %}    
                                            </tbody>
                                </table>
                            </div>
                                   <div class="modal-footer">
                                        <button type="submit" class="btn btn-success" id = "agregarpxn" name="addsalida" onclick="function()" value="agregarpxn">Agregar Selección a la lista</button>
                                      <script>  
                                            $(function(){
                                              $('input:checkbox').change(function(){
                                              if ($('input:checkbox:checked').length = 0)  {

                                                }
                                                if ($('input:checkbox:checked').length >= 1)  {
                                             
                                                }
                                              if ($('input:checkbox:checked').length > 1){
                                                alert('Sólo se puede seleccionar un artículo');
                                                $('input:checkbox').prop({checked: false}); 

                                                }
                                              });
                                            });
                                        </script>
                                      <script>
                                           $(function() {
                                              $('#agregarpxn').click(function() {
                                                var valores_de_checks = new Array();                
                                                $("input[name=chklista]:checked").each(function(index) {
                                                   // si los checkbox han sido seleccionados se dejan para agregarlos a la lista
                                                  if($(this).is(':checked')){
                                                      valores_de_checks.push($(this).val());
                                                     if(valores_de_checks.length > 1){
                                                        alert("Solo se puede seleccionar un artículo");
                                                        exit();
                                                     } 
                                                  } else {
                                                       // los checkbox sin seleccionar se eliminan 
                                                       // alert("El checkbox con valor " + $(this).val() + " ha sido deseleccionado");
                                                       $(this).closest('tr').remove();
                                                  }
                                                });                                                   
                                              });
                                            });
                                      </script>   
                                                <button type="button" class="btn btn-default" data-dismiss="modal">ACEPTAR</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                       </div>
                    </div>
                </div>
            </div>
             <script type="text/javascript">
              $(function(){
                $("#mylistapxn").modal();
              });
           </script>
            </form> 
        
        {% endif %}

      {% if lista %}
      <style>
        #tablel th{
         line-height: 15px;
         border-right:1px solid #e1e1e1;
         width:50%;
         padding-left:15;
         font-weight:bold;
         font:16px 'Monotype Corsiva';
        }
    </style>
         <form  method="POST">  
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
                <h3> Datos del producto </h3>
                  <center>
              <div class="table table-responsive"  >
                <table class="table table-hover table-responsive table-bordered" id="tablel">
                   <thead>
                       <tr class="success" style="font:11px Arial">            
                          <td><strong>Código</strong></td>
                          <td><strong>Producto</strong></td>
                          <td><strong>Existencias</strong></td>
                          <td><strong>Unidad de medida</strong></td>
                          <td><strong>Disponibles</strong></td>
                          <td><strong>Precio.Unit.</strong></td>
                          <td><strong>Item ID.</strong></td>
                          <td><strong>Sel.</strong></td>
                        </tr>                    
                   </thead> 
                   <tbody>
                    {% for fila in lista %}
                       <tr class="info" style="font:11px Arial">             
                        {% for col in fila %} 
                           <td>  {{ col }} </td>
                        {%endfor%}
                        <td><input type="checkbox"  id = "borrar" name="chklista0" value="{{ fila[6] }}"></td> 
                           <!--td><button type="button" class="btn btn-danger" id = "borrar" name="borrar" value="{{ fila[0] }}+'-'+'1'">Borrar </button></td--> 
                        </tr>       
                   {% endfor %}    
                   </tbody>
                  </table>
              </div>
                </center>
                <button type="submit" class="btn btn-success" name="addsalida" value="agregar"><i class="icon-wrench icon-white"></i> Añadir a la lista</button>
                <button type="submit" class="btn btn-primary" name="addsalida" value="buscaotro"> Buscar Otro </button>
              <script>  
                 $(function(){
                   $('input:checkbox').change(function(){
                      if ($('input:checkbox:checked').length = 0)  {
                      }
                         if ($('input:checkbox:checked').length >= 1)
                         {                              
                         }
                            if ($('input:checkbox:checked').length > 1){
                                alert('Sólo se puede seleccionar un artículo');
                                $('input:checkbox').prop({checked: false}); 
                            }
                            });
                    });
                </script>
                <script>
                  $(function() {
                     $('#agregarpxn').click(function() {
                        var valores_de_checks = new Array();                
                        $("input[name=chklista0]:checked").each(function(index) {
                        // si los checkbox han sido seleccionados se dejan para agregarlos a la lista
                          if($(this).is(':checked')){
                               valores_de_checks.push($(this).val());
                                  if(valores_de_checks.length > 1){
                                     alert("Solo se puede seleccionar un artículo");
                                     exit();
                                  } 
                           } else {
                                       // los checkbox sin seleccionar se eliminan 
                                       // alert("El checkbox con valor " + $(this).val() + " ha sido deseleccionado");
                                     $(this).closest('tr').remove();
                                  }
                                  });                                                   
                            });
                      });
                </script>                   
                
                           
            </form>  
    	{%else%}
            <form   method="POST"  > 
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
            <div class="w3-card-4" style="width:21%;">
                <header class="w3-container  w3-teal">
          			  <h3>Clave del producto</h3>
                </header>   
          			   <!--div class="invalid-feedback">Clave del producto</div> -->
          			   <div class="form-group">
          			     <!--input type="text" class="form-control form-control-lg" name="product_id" id="product_id" -->
                         <!--placeholder="Ingrese la clave del producto" required autofocus size="40" maxlength="40"-->
                           {{ render_field(form.product_id, class='form-control', placeholder="Ingrese la clave del producto") }}    
          			    </div>
                          <div class="w3-container w3-teal">
                          <h3>Nombre del producto</h3>
                        </div>
                          <div class="form-group2">
                            {{ render_field(form.product_name, class='form-control', placeholder="Ingrese el nombre del producto") }} 
                          </div> 
                <footer class="w3-container w3-teal">
                <h5>Puede buscar el producto por clave o por nombre</h5>
               </footer>                   
            </div>
        			  <!--button type="submit" class="glyphicon glyphicon-search" id="btnBuscar">Buscar</button-->  
        			  <button type="submit" class="btn btn-primary" name="addsalida" value="buscar"> Buscar </button>
                      <button type="button" class="btn btn-info btn-showlistaglobal" data-toggle="modal" data-target="#myModal" id="verlistag" name = "addsalida" value="versalida"> Ver lista actual</button>
                      <a class="btn btn-danger" href="/index">Menú principal</a>
                      {% if verlista %}
                        <script>
                            $(document).ready(function(e) { 
                            // Cuando le dás click muestra #content, LLlamado al elemento DOM x su class
                               $('.btn-showlistaglobal').click(function(){
                               });
                            // Simular click
                            $('.btn-showlistaglobal').click();
                            });
                         </script>
            </form>             
                      {% endif %}                          
                       {% if listaglobal %}   
                       <form method="POST"> 
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>                    
                            <div class="container">                                
                                <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ver listado de productos</button> -->
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-lg" id="mdialTamanio">
                                        <!-- Contenido Modal-->
                                        <div class="modal-content">
                                               <div class="modal-header">
                                                  <!--button type="button" class="close" data-dismiss="modal">&times;</button-->
                                                  <h4 class="modal-title"> Listado actual de productos </h4>
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                               </div>
                                            <div class="modal-body">
                                                <table class="table table-hover table-responsive table-bordered" >
                                                    <thead>
                                                        <tr class="success" style="font:11px Arial"> 
                                                            <td><strong>Código</strong></td>
                                                            <td><strong>Producto</strong></td>
                                                            <td><strong>Existencias</strong></td>
                                                            <td><strong>Unidad de medida</strong></td>
                                                            <td><strong>Disponibles</strong></td>
                                                            <td><strong>Precio.Unit.</strong></td>
                                                            <td><strong>Item ID</strong></td>
                                                            <td><strong>A procesar</strong></td>
                                                            <td><strong>Seleccionar</strong></td>
                                                        </tr>
                                                            
                                                    </thead> 
                                                    <tbody>
                                                        {% for fila in listaglobal %}
                                                          
                                                           <tr class="info" style="font:11px Arial">             
                                                           {% for col in fila %} 
                                                               <td>  {{ col }} </td>
                                                           {%endfor%}
                                                                <td><input type="text"  name="cants" id="cantidad" value="1" required autofocus size="15" maxlength="15" style="text-align: center;"></td>
                                                                 <td><center><input type="checkbox"  id = "borrar" name="chklistafin" value="{{ fila[0]}}"><center>
                                                                </td>     

                                                               <!--td><button type="button" class="btn btn-danger" id = "borrar" name="borrar" value="{{ fila[0] }}+'-'+'1'">Borrar </button></td-->    
                                                                             
                                                           </tr>
                                                           
                                                        {% endfor %}    
                                                    </tbody>
                                                </table>
                                            </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-danger" id = "enviar" name="addsalida" onclick="function ()" value="enviar">Borrar</button>
                                                   
                                                    <script>
                                                        $(function() {
                                                        $('#enviar').click(function() {
                                                            var valores_de_checks = new Array();
                                                     
                                                            $("input[name=chklista]:checked").each(function(index) {
                                                               if($(this).is(':checked')){
                                                                valores_de_checks.push($(this).val());
                                                                $(this).closest('tr').remove();
                                                                <button type="submit" class="btn btn-info" id = "enviar" name="con_fe"  value="valores_de_checks">Enviar </button>
                                                               }     
                                                            });                                                   
                                                            });
                                                        });
                                                    </script>   
                                                    <!--button type="submit" class="btn btn-primary" id = "enviar" name="addsalida" onclick="" value="entrada_alm">REALIZAR ENTRADA</button-->
                                                    <button type="submit" class="btn btn-primary" id = "enviar" name="addsalida" onclick="" value="entrada_alm">REALIZAR ENTRADA</button>
                                                    <button type="submit" class="btn btn-info" id = "enviar" name="addsalida" onclick="" value="salida_alm">REALIZAR SALIDA</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}         
                        </form> 
        		<script src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
        		<script src='http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
        		<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js'></script>
        		<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/language/es_ES.min.js'></script>
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   	        
        {%endif%}   
           
{% endblock %}            
