{% extends 'index.html' %}
{% from "_macros.html" import render_field %}
{% block content %}
  <form method="POST" accept-charset="utf-8">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="container">
      <div class="card" style="width:550px">
        <div class="card-header card bg-primary text-white">Busque su entrada por cualquiera de estos criterios</div>
        <div class="card-body card bg-info text-white">
          <div class="container">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="1">Proeveedor
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="2">Núm. Factura
              </label>
            </div>
            <div class="form-check-inline disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="3">Fecha
              </label>
            </div>
            <div class="form-check-inline disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="4">Artículos
              </label>
            </div>  
          </div>
          <div class="container">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="5">Contrato
              </label>
            </div>
            <div class="form-check-inline disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="6">Nom. Recibe
              </label>
            </div>
            <div class="form-check-inline disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="7">O. Solicita
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="8">Núm Orden
              </label>
            </div>  
          </div>
        </div>
        <div class="card-body card bg-info text-white">
          {{ render_field(form.nOrden, class='form-control', placeholder="Ingrese el dato según sea lo que busque")}}
        </div>
        <div class="card-footer card bg-success text-white">
          <button type="submit" class="btn btn-outline-danger" name="addOrdenSal" value="buscarOrd"><img class="img-fluid" alt="Responsive image" src="/static/img/glyph-iconset-master/svg/si-glyph-text-search.svg" width="16" height="16"> Buscar</button>
        </div>
      </div>
  </div>  
  
  </form>
{% endblock %}