{% extends 'index.html' %}
{% from "_macros.html" import render_field %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet"  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}"/>
	<link rel="stylesheet"  href="{{ url_for('static', filename='css/estilos.css') }}" media="screen">
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

 <body>
<form method="POST" accept-charset="utf-8">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
  <div class="container">
    <div class="container">
	  <div class="container-fluid">
  		<div class="row" style="background-image:{{url_for('static', filename='img/logo.jpg') }}; width: 100%; height: 100vh; "">
    		<div class="col-12">
    			<div class="row">
    				<div class="col-2">    
            </div>
    				<div class="col-8">
    					<center>
      						<h5>Comision de Agua Potable y Alcantarillado del Estado de Quintana Roo</h5>
      						<h6>Direccion de Recursos Materiales</h6>
      						<h6>Departamento de Almacen General</h6>
      						<h6>Formato de ntrada de materiales de Almacen</h6>
      				</center>
    				</div>
    				<div class="col-2"></div>
    			</div>
    			<div class="row">
        			<div class="col-sm-2 list-group-item-info">Proveedor:</div>
        			<div class="col-sm-6 list-group-item-action list-group-item-warning">
                {{ render_field(form.proveedor, class="form-control")}}</div>
        			<div class="col-sm-2 list-group-item-info">Fecha:</div>
        			<div class="col-sm-2 list-group-item-action list-group-item-warning">{{render_field(form.fecha, class="form-control", placeholder="DD/MM/YYYY")}}</div>
      		</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Nombre Comercial:</div>
        			<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.nomComer, class="form-control")}}</div>
        			<div class="col-2 list-group-item-info">Folio:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{render_field(form.folio, class="form-control")}}</div>
      			</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Factura, Nota o Cotización:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.factura, class="form-control")}}</div>
        			<div class="col-4 list-group-item-action list-group-item-warning">{{ render_field(form.numFactura, class="form-control", placeholder="Numero de folio de la factura")}}</div>
        			<div class="col-2 list-group-item-info">Orden de Compra:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.orden, class="form-control")}}</div>
      			</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Departamento Solicitante:</div>
        			<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.dep_soli, class="form-control")}}</div>
        			<div class="col-2 list-group-item-info">Requerimiento:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.nReq, class="form-control")}}</div>
      			</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Oficio Solicitante:</div>
        			<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.oSoli, class="form-control")}}</div>
        			<div class="col-2 list-group-item-info">Tipo de Compra o Contrato:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.tCompra, class="form-control")}}</div>
      			</div>
      			<br>
      		{% if listaglobal %}
					  <table class="table table-hover table-striped">
	    				<thead>
		      				<tr class="table-success">
		        				<td><strong>Código</strong></td>
		                		<td><strong>Producto</strong></td>
		                		<td><strong>Existencias</strong></td>
		                		<td><strong>Unidad de medida</strong></td>
		                		<td><strong>Disponibles</strong></td>
		                		<td><strong>Precio.Unit.</strong></td>
		                		<td><strong>Item ID</strong></td>
		                		<td><strong>A entrar</strong></td>
		      				</tr>
	    				</thead>
	    				<tbody>
	    					<tr class="table-warning">
	    						{% for fila in listaglobal %}                                 
	                				<tr class="info" style="font:11px Arial">             
	                    				{% for col in fila %} 
	                      					<td>  {{ col }} </td>
	                    				{%endfor%}
	                				</tr>
	                			{% endfor %}                                             
	    					</tr>
	    				</tbody>
	  				</table>
	  			{%endif%}
  				<div class="row">
  					<div class="col-2 list-group-item-info">Observaciones:</div>
  					<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.obser, class="form-control", rows="3", cols="50", placeholder="Capture sus observaciones")}}</div>
  					<div class="col-2 list-group-item-info">Total:</div>
  					<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.total, class="form-control")}}</div>
  					<br>
  					<div class="col-2">
  						<button type="submit" class="btn btn-outline-danger">Guardar</button>
  					</div>
  				</div>
			</div>
    </div>
  </div>
</form>
<br>
<br>
<br>
</div>
<br>
<br>
</body>
</html>
{% endblock %}