{% extends 'index.html' %}
{% from "_macros.html" import render_field %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Almacén - Sicopa</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet"  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}"/>
	<link rel="stylesheet"  href="{{ url_for('static', filename='css/estilos.css') }}" media="screen">
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

 <body>
{% if reporte %}
  <form method="POST" accept-charset="utf-8">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
    <div class="container">
    <div class="container">
    <div class="container-fluid">
      <div class="row" style="background-image:{{url_for('static', filename='img/logo.jpg') }}; width: 100%; height: 100vh; "">
        <div class="col-12">
          <div class="row">
            <div class="col-2">    
            </div>
            <div class="col-8">
              <center>
                  <h5>Comision de Agua Potable y Alcantarillado del Estado de Quintana Roo</h5>
                  <h6>Direccion de Recursos Materiales</h6>
                  <h6>Departamento de Almacen General</h6>
                  <h6>Formato de {{titulo}} de materiales de Almacen</h6>
              </center>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
              <div class="col-sm-2 list-group-item-info">Proveedor:</div>
              <div class="col-sm-6 list-group-item-action list-group-item-warning">
                {{ reporte.proveedor}}</div>
              <div class="col-sm-2 list-group-item-info">Fecha:</div>
              <div class="col-sm-2 list-group-item-action list-group-item-warning">{{reporte.fecha}}</div>
          </div>
            <div class="row">
              <div class="col-2 list-group-item-info">Nombre Comercial:</div>
              <div class="col-6 list-group-item-action list-group-item-warning">{{ reporte.nomComer}}</div>
              <div class="col-2 list-group-item-info">Folio:</div>
              <div class="col-2 list-group-item-action list-group-item-warning">{{reporte.fol_entrada}}</div>
            </div>
            <div class="row">
              <div class="col-2 list-group-item-info">Factura, Nota o Cotización:</div>
              <div class="col-2 list-group-item-action list-group-item-warning">{{reporte.factura}}</div>
              <div class="col-4 list-group-item-action list-group-item-warning">{{reporte.nFactura}}</div>
              <div class="col-2 list-group-item-info">Orden de Compra:</div>
              <div class="col-2 list-group-item-action list-group-item-warning">{{reporte.ordenCompra}}</div>
            </div>
            <div class="row">
              <div class="col-2 list-group-item-info">Departamento Solicitante:</div>
              <div class="col-6 list-group-item-action list-group-item-warning">{{reporte.depSolici}}</div>
              <div class="col-2 list-group-item-info">Requerimiento:</div>
              <div class="col-2 list-group-item-action list-group-item-warning">{{reporte.nReq}}</div>
            </div>
            <div class="row">
              <div class="col-2 list-group-item-info">Oficio Solicitante:</div>
              <div class="col-6 list-group-item-action list-group-item-warning">{{reporte.oSolicitnte}}</div>
              <div class="col-2 list-group-item-info">Tipo de Compra o Contrato:</div>
              <div class="col-2 list-group-item-action list-group-item-warning">{{reporte.tCompraContrato}}</div>
            </div>
            <br>
          {% if lista %}
            <table class="table table-hover table-striped">
              <thead>
                  <tr class="table-success">
                    <td><strong>Código</strong></td>
                        <td><strong>Producto</strong></td>
                        <td><strong>Cantidad</strong></td>
                        <td><strong>Unidad de medida</strong></td>
                        <td><strong>Precio.Unit.</strong></td>
                        <td><strong>Item ID</strong></td>
                  </tr>
              </thead>
              <tbody>
                <tr class="table-warning">
                  {% for fila in lista %}                                 
                          <tr class="info" style="font:11px Arial">             
                              <td>  {{ fila.codigo }} </td>
                              <td>  {{ fila.descripcion }} </td>
                              <td>  {{ fila.cantidad }} </td>
                              <td>  {{ fila.udm }} </td>
                              <td>  {{ fila.p_unit }} </td>
                              <td>  {{ fila.imtemId }} </td>
                          </tr>
                  {% endfor %}                                             
                </tr>
              </tbody>
            </table>
          {%endif%}
          <div class="row">
            <div class="col-2 list-group-item-info">Observaciones:</div>
            <div class="col-6 list-group-item-action list-group-item-warning">{{ reporte.observaciones }}</div>
            <div class="col-2 list-group-item-info">Total:</div>
            <div class="col-2 list-group-item-action list-group-item-warning">{{reporte.total}}</div>
            <br>
            <div class="col-2">
              {% if reporte.ordenCompra == ''%}
              <button type="submit" class="btn btn-outline-danger" name="addOrdenSal" value="reimprimir{{reporte.fol_entrada}}">Reimprimir</button>
              {% else %}
                <button type="submit" class="btn btn-outline-danger" name="addOrdenSal" value="reimprimir{{reporte.ordenCompra}}">Reimprimir</button>
              {% endif %}"
            </div>
          </div>
      </div>
    </div>
    </div>
  </form>
{% else %}
  <form method="POST" accept-charset="utf-8">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
    <div class="container">
    <div class="container">
	  <div class="container-fluid">
  		<div class="row" style="background-image:{{url_for('static', filename='img/logo.jpg') }}; width: 100%; height: 100vh; "">
    		<div class="col-12">
    			<div class="row">
    				<div class="col-2">    
            </div>
    				<div class="col-8">
    					<center>
      						<h5>Comision de Agua Potable y Alcantarillado del Estado de Quintana Roo</h5>
      						<h6>Direccion de Recursos Materiales</h6>
      						<h6>Departamento de Almacen General</h6>
      						<h6>Formato de Entrada de materiales de Almacen</h6>
      				</center>
    				</div>
    				<div class="col-2"></div>
    			</div>
    			<div class="row">
        			<div class="col-sm-2 list-group-item-info">Proveedor:</div>
        			<div class="col-sm-6 list-group-item-action list-group-item-warning">
                {{ render_field(form.proveedor, class="form-control")}}</div>
        			<div class="col-sm-2 list-group-item-info">Fecha:</div>
        			<div class="col-sm-2 list-group-item-action list-group-item-warning">{{render_field(form.fecha, class="form-control", placeholder="DD/MM/YYYY")}}</div>
      		</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Nombre Comercial:</div>
        			<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.nomComer, class="form-control")}}</div>
        			<div class="col-2 list-group-item-info">Folio:</div>
              <div class="col-2 list-group-item-action list-group-item-warning"> <input type="text" class="form-control" value="{{folio_e}}" name="folio"></div>  
        			<!--div class="col-2 list-group-item-action list-group-item-warning">{{render_field(form.folio, class="form-control",id="folioe")}}</div-->
      			
            </div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Factura, Nota o Cotización:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.factura, class="form-control")}}</div>
        			<div class="col-4 list-group-item-action list-group-item-warning">{{ render_field(form.numFactura, class="form-control", placeholder="Numero de folio de la factura")}}</div>
        			<div class="col-2 list-group-item-info">Orden de Compra:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.orden, class="form-control")}}</div>
      			</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Departamento Solicitante:</div>
        			<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.dep_soli, class="form-control")}}</div>
        			<div class="col-2 list-group-item-info">Requerimiento:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.nReq, class="form-control")}}</div>
      			</div>
      			<div class="row">
        			<div class="col-2 list-group-item-info">Oficio Solicitante:</div>
        			<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.oSoli, class="form-control")}}</div>
        			<div class="col-2 list-group-item-info">Tipo de Compra o Contrato:</div>
        			<div class="col-2 list-group-item-action list-group-item-warning">{{ render_field(form.tCompra, class="form-control")}}</div>
      			</div>
            
            <script>
                document.getElementsById("folioe").value="folio"      
            </script>
              
      			<br>
      		{% if listaglobal %}
					  <table class="table table-hover table-striped">
	    				<thead>
		      				<tr class="table-success">
		        				<td><strong>Código</strong></td>
		                		<td><strong>Producto</strong></td>
                        <td><strong>Item ID</strong></td>
		                		<td><strong>Tipo de Producto</strong></td>
		                		<td><strong>Precio.Unit.</strong></td>
		                		<td><strong>A entrar</strong></td>
		      				</tr>
	    				</thead>
	    				<tbody>
	    					
	    						{% for item in listaglobal %}                                 
	                				<tr class="info" style="font:11px Arial">             
	                    				<td>{{item[0]}}</td>
                              <td>{{item[1]}}</td>
                              <td>{{item[4]}}</td>
                              <td>{{item[2]}}</td>
                              <td>{{item[7]}}</td>
                              <td>{{item[8]}}</td>
	                				</tr>
	                			{% endfor %}                                             

	    				</tbody>
	  				</table>

	  			{%endif%}
  				<div class="row">
  					<div class="col-2 list-group-item-info">Observaciones:</div>
  					<div class="col-6 list-group-item-action list-group-item-warning">{{ render_field(form.obser, class="form-control", rows="3", cols="50", placeholder="Capture sus observaciones")}}</div>
  					<div class="col-2 list-group-item-info">Total:</div>
  					<div class="col-2 list-group-item-action list-group-item-warning">
              <input type="text" class="form-control" value="{{total1}}" name="total">
              <!--{{ render_field(form.total, class="form-control")}}</div>-->
  					<br>
  					<div class="col-2">
  						<button type="submit" class="btn btn-outline-danger">Guardar</button>
             
  					</div>
             <br>
<br>
<br>
<br>
<br>
  				</div>
			</div>
    </div>

    </div>
  </form>
{% endif %}

</div>


</body>
</html>
{% endblock %}