{% extends 'menualm.html' %}
{% from "_macros.html" import render_field %} 
{%block nombre%}  
   {% if nombre %}
      <li><a href="#"> <img class="img-fluid" alt="Responsive image" src="/static/img/glyph-iconset-master/svg/si-glyph-sign-in.svg" width="16" height="16"> {{nombre}}</a></li>
   {% else %}
       <li><a href="/login"><icon class="icon-user icon-white"></icon>Iniciar Sesión</a></li> 
   {% endif %}
{%endblock%}
 {% block buscaentrada_ %}      
<form   method="POST"  >  
<div class="w3-card-4" style="width:25%;">
                <header class="w3-container  w3-teal">
          			  <h3>Número de entrada, orden o contrato con proveedor</h3>
                </header>   
          			   <!--div class="invalid-feedback">Clave del producto</div> -->
          			   <div class="form-group">
          			     <!--input type="text" class="form-control form-control-lg" name="product_id" id="product_id" -->
                         <!--placeholder="Ingrese la clave del producto" required autofocus size="40" maxlength="40"-->
                           {{ render_field(form.order_id, class='form-control', placeholder="Ingrese el número de entrada u orden") }}      
          			    </div>
                <footer class="w3-container w3-teal">
                <h5>Entradas desde el SICOPA</h5>
               </footer>  
  	           <button type="submit" class="btn btn-primary" name="addentrada" value="buscar"> Buscar </button>                                    
</div>
</form>
 {% endblock %}