{% extends 'index.html' %}
{% from "_macros.html" import multi %}
{% block content %}
<style>
	#carga {
		height: 100vh;
	}
	
</style>

<div class="d-none" id="contenido">
  <table class="table table-bordered" id="tabledinamic">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Unidad</th>
        <th>cantidad Exi.</th>
        <th>Costo</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody id="myTable">
    	{% for item in saldo%}
    		{% if item.actividad =="a"%}
			    <tr class="table-danger">
			    	<td>{{item.id_prod}}</td>
			        <td>{{item.nom_prod}}</td>
			        <td>{{item.um}}</td>
			        <td>{{item.cant_exist}}</td>
			        <td>{{item.costo_unit}}</td>
			        <td> {{multi(item.cant_exist, item.costo_unit)}}</td>
			    </tr>
		   	{% else %}
		   		<tr class="table-primary">
			    	<td>{{item.id_prod}}</td>
			        <td>{{item.nom_prod}}</td>
			        <td>{{item.um}}</td>
			        <td>{{item.cant_exist}}</td>
			        <td>{{item.costo_unit}}</td>
			        <td> {{multi(item.cant_exist, item.costo_unit)}}</td>
			    </tr>
			{%endif%}
		{% endfor %}
    </tbody>
  </table>

</div>
<br>
<br>
<div class="d-flex justify-content-center align-items-center" id="carga">
	<div class="spinner-grow text-success" style="width: 6rem; height: 6rem;" ></div>
</div>
<script>
const contenido = document.getElementById("contenido");
const carga = document.getElementById("carga")
setTimeout(()=>{
	contenido.className ='container mt-3';
	carga.className = 'd-none';
},2000);

$(document).ready(function(){
	$('#tabledinamic').DataTable();
})
</script>

{% endblock content %}