{% extends 'index.html' %}
{% from "_macros.html" import multi %}
{% block content %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>    

<style>
	#carga {
		height: 50vh;
	}
	.left{
    	float: left;
	}
</style>

<div class="container">
	<div class="row">
	<form method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
		<input class="form-control" type="date" name="fi"> 
		<br>
		<input class="form-control" type="date" name="ff">
		<br><br>
		<button class="btn btn-outline-danger" type="submit" value="enviar" name="boton"> consultar </button>

	</div>
</div>

{% if saldo %}
	
		<div class="table-responsive">
			<div class="d-none" id="contenido">
				<br>
				<button class="btn btn-outline-danger left" type="submit" value="imprimir" name="boton"> imprimir </button>
			  <table class="table table-bordered table-hover" id="tabledinamic">
			    <thead>
			      <tr>
			      	<th>Núm. Entrada</th>
			        <th>Proveedor</th>
			        <th>Fol. Entrada</th>
			        <th>Fecha</th>
			        <th>Factura</th>
			        <th>Núm Factura</th>
			        <th>Orden de Compra</th>
			        <th>Dep. Solicitante</th>
			        <th>Núm. Req.</th>
			        <th>Núm. Oficio</th>
			        <th>Total</th>
			        <th>Observaciones</th>
			      </tr>
			    </thead>
			    <tbody id="myTable">
			    	
			    	{% for item in saldo%}
					    <tr class="table-danger">
					    	<td><center>{{item[0]}}</center></td>
					    	<td>{{item[1]}}</td>
					        <td>{{item[2]}}</td>
					        <td>{{item[3]}}</td>
					        <td>{{item[4]}}</td>
					        <td>{{item[5]}}</td>
					        <td>{{item[6]}}</td>
					        <td>{{item[7]}}</td>
					        <td>{{item[8]}}</td>
					        <td>{{item[9]}}</td>
					        <td>{{item[10]}}</td>
					        <td>{{item[11]}}</td>
					    </tr>
					{% endfor %}
			    </tbody>
			  </table>

			</div>
			<div class="d-flex justify-content-center align-items-center" id="carga">
				<div class="spinner-grow text-success" style="width: 6rem; height: 6rem;" ></div>
			</div>
		</div>
	</form>
{% endif %}
<br>
<br>
<script>
const contenido = document.getElementById("contenido");
const carga = document.getElementById("carga")
setTimeout(()=>{
	contenido.className ='container mt-3';
	carga.className = 'd-none';
},2000);

$(document).ready(function(){
	$('#tabledinamic').DataTable();
})
</script>

{% endblock content %}