{% extends 'index.html' %}
{% from "_macros.html" import render_field %} 

 {% block content %}      
<form   method="POST"  >
 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
<div class="w3-card-4" style="width:25%;">
                <header class="w3-container  w3-teal">
          			  <center><h3>Salidas de almacén</h3><center>
                </header>   
          			  
                <footer class="w3-container w3-teal">
                <h5>Para realizar una Salida, primero deberá conformar su listado de productos
                  esfecificando las cantidades a egresar del almacén
                </h5>
               </footer>                                                  
               <a href="/salidas_de_almacen/salidas_parciales" class="btn btn-primary">Conformar la lista</a>
</div>
</form>
 {% endblock %}